{% extends '@layout/dual-content.html.twig' %}
{% block content %}
    <div class="container">
        <br>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <!-- product -->
            <div class="product-content product-wrap clearfix product-deatil">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="product-image">
                            <div id="myCarousel-2" class="carousel slide">
                                <ol class="carousel-indicators">
                                    {% for image in images %}
                                        {% if loop.index == 0%}
                                            <li data-target="#myCarousel-2" data-slide-to="{{ loop.index }}" class="active"></li>
                                        {% endif %}
                                        <li data-target="#myCarousel-2" data-slide-to="{{ loop.index }}" class=""></li>
                                    {% endfor %}
                                </ol>
                                <div class="carousel-inner">
                                    {% for image in images %}
                                        <div class="item">
                                            <img src="{{ image }}" class="center-block" alt="">
                                        </div>
                                    {% endfor %}
                                    <div class="item active">
                                        <img src="{{ defaultImage }}" class="center-block" alt="">
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#myCarousel-2" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
                                <a class="right carousel-control" href="#myCarousel-2" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-7 col-sm-12 col-xs-12">

                        <h2 class="name">
                            <span style="font-size: 70px;">{{ name }}</span>
                            <small><i class="glyphicon glyphicon-map-marker"></i>{{ address }}</small>
                            <i class="fa fa-star fa-2x text-primary"></i>
                            <i class="fa fa-star fa-2x text-primary"></i>
                            <i class="fa fa-star fa-2x text-primary"></i>
                            <i class="fa fa-star fa-2x text-primary"></i>
                            <i class="fa fa-star fa-2x text-muted"></i>
                            <span class="fa fa-2x"><h5>({{ reviewsCount }}) Votes</h5></span>
                        </h2>
                        <hr>
                        <h3 class="price-container">
                            {{ price }} /hour
                            <small> *includes tax</small>
                        </h3>
                        <hr>
                        <div class="description description-tabs">
                            <ul id="myTab" class="nav nav-pills">
                                <li class="active"><a href="#more-information" data-toggle="tab" class="no-margin">Location Description</a></li>
                                <li class=""><a href="#specifications" data-toggle="tab">Schedule</a></li>
                                <li class=""><a href="#reviews" data-toggle="tab">Reviews</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in" id="more-information">
                                    <br>
                                    <strong>Surface : {{ surface }} m2</strong>
                                    <br>
                                    <br>
                                    <strong>{{ description }}</strong>
                                </div>
                                <div class="tab-pane fade" id="specifications">
                                    <br>
                                    <dl class="">
                                        <dt style="font-size: 30px;">Monday - Sunday</dt>
                                        <br>
                                        <dt style="font-size: 20px;">Opens at : 08:00 AM</dt>
                                        <dt style="font-size: 20px;">Closes at : 23:00 PM</dt>
                                        <br>
                                    </dl>
                                </div>
                                <div class="tab-pane fade" id="reviews">
                                    <br>
                                    <form method="post" class="well padding-bottom-10" onsubmit="return false;">
                                        <textarea rows="2" class="form-control" placeholder="Write a review"></textarea>
                                        <div class="margin-top-10">
                                            <button type="submit" class="btn btn-sm btn-primary pull-right">
                                                Submit Review
                                            </button>
                                            <a href="#" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add Location"><i class="fa fa-location-arrow"></i></a>
                                            <a href="#" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add Voice"><i class="fa fa-microphone"></i></a>
                                            <a href="#" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add Photo"><i class="fa fa-camera"></i></a>
                                            <a href="#" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title="" data-original-title="Add File"><i class="fa fa-file"></i></a>
                                        </div>
                                    </form>

                                    <div class="chat-body no-padding profile-message">
                                        <ul>
                                          {% for review in reviews %}
                                              <li class="message">
                                                  <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="online">
                                                  <span class="message-text">
													<a href="#" class="username">
														{{ review.username }}
														<span class="pull-right">
															<i class="fa fa-star fa-2x text-primary"></i>
															<i class="fa fa-star fa-2x text-primary"></i>
															<i class="fa fa-star fa-2x text-primary"></i>
															<i class="fa fa-star fa-2x text-primary"></i>
															<i class="fa fa-star fa-2x text-muted"></i>
														</span>
													</a>
													{{ review.review }}
												</span>
                                                  <ul class="list-inline font-xs">
                                                      <li class="pull-right">
                                                          <small class="text-muted pull-right ultra-light"> {{ review.reviewDate|date("m/d/Y") }} </small>
                                                      </li>
                                                  </ul>
                                              </li>
                                          {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <input type="text" name="venueId" id="venueId" value="{{ id }}" style="display: none;">
                                Pick a day : <input type="date" name="bookingDate" id="bookingDate">
                                <br><br>
                                <a href="#" class="btn btn-success btn-md" data-toggle="modal" data-target="#exampleModal" id="scheduleGame">Schedule game</a>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <div class="btn-group pull-right">
                                    <button class="btn btn-white btn-default"><i class="fa fa-envelope"></i> Contact Seller</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end product -->
        </div>
    </div>
    <hr/>
{% endblock %}